[user]
    email = das.abhshk@gmail.com
    name = Abhishek Das
[core]
    editor = vim
    quotepath = false
[push]
    default = matching
[alias]
    rom = rebase origin/master
    pom = push origin master
    po  = push origin
    fo  = fetch origin
[color]
    diff = always
    branch = always
