[submodule "vim/.vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/ctrlp"]
	path = vim/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/colorschemes"]
	path = vim/.vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/.vim/bundle/protobuf"]
	path = vim/.vim/bundle/protobuf
	url = https://github.com/uarun/vim-protobuf.git
[submodule "vim/.vim/bundle/torch-snipmate"]
	path = vim/.vim/bundle/torch-snipmate
	url = https://github.com/jakezhaojb/vim-torch-snipmate.git
[submodule "vim/.vim/bundle/tlib"]
	path = vim/.vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/.vim/bundle/addon-mw-utils"]
	path = vim/.vim/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/.vim/bundle/snipmate"]
	path = vim/.vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "vim/.vim/bundle/vimtex"]
	path = vim/.vim/bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/gitgutter"]
	path = vim/.vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/space-vim-dark"]
	path = vim/.vim/bundle/space-vim-dark
	url = https://github.com/liuchengxu/space-vim-dark.git
[submodule "vim/.vim/bundle/dracula-theme"]
	path = vim/.vim/bundle/dracula-theme
	url = https://github.com/dracula/vim.git
[submodule "vim/.vim/bundle/vim-wakatime"]
	path = vim/.vim/bundle/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/ultisnips"]
	path = vim/.vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/.vim/bundle/vim-snippets"]
	path = vim/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
